/* Stickey footer */
html {
  position: relative;
  min-height: 100%;
  overflow-y: scroll;
}

body {
  margin-bottom: 100px;
  padding-top: 80px;
}

.footer {
  bottom: 0;
  width: 100%;
  height: 100px;
}

.modal-body {
  overflow-y: hidden;
  overflow-x: hidden;
}

/* Fonts */
body {
    font-family: "Ubuntu";
}

/* Box */
.course-box {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    transition: box-shadow .25s;
}

.course-box .alert-warning {
  background-color: transparent;
  border-color: transparent;
  color:black;
}

.course-box .ac_caption {
   text-align: right;
   font-weight: normal;
   font-size: 0.5em;
}

.course-box-info {
  border-top: 5px solid #3498DB;
}

.course-box-question {
  border-top: 5px solid #FBC02D;
}

.course-box-problem {
  border-top: 5px solid #18BC9C;
}

.course-box-success {
  border-top: 5px solid #18BC9C;
}

.course-box-danger {
  border-top: 5px solid #E74C3C;
}

.course-box-special {
    background-color: #d9e8f2;
}

.item-special {
    background-color: #FBC02D;
}

.course-content {
  padding:15px;
  text-align:left;
}

.course-title {
  margin-top: 0px;
  font-weight: 700;
  font-size: 1.65em;
}

.corner-image {
    width: 60px;
    margin-top: -40px;
    margin-right: -40px;
}

.btn {
  margin-bottom: 10px;
}

.btn-arrow {
  margin-bottom: 0px;
}

.CodeMirror {
  margin-bottom: 10px;
}

.CodeMirror  .shaded {
  background-color: #d1e0dd;
}

.test-button, .run-button {
  margin-right: 5px;
}

div.visible-ac-canvas {
  display: inline-block;
}

div.modal-header {
  display: block;
}

.navbar>.container {
  display: block;
}

.modal-dialog {
  max-width: none;
}

i.fa {
  font-family: "FontAwesome";
}